/* signup.css */

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f5f6fa;
  font-family: Arial, sans-serif;
}

.signup-container h1 {
  color: #fc3f65;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.signup-form {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  font-size: 0.9rem;
  color: #666;
  display: block;
  margin-bottom: 0.5rem;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.form-group input::placeholder {
  color: #bbb;
}

.signup-container .signup-button {
  width: 100%;
  padding: 0.8rem;
  background-color: #fc3f65;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-container .signup-button:hover {
  background-color: #fc3f65;
}

.error-message {
  color: #FF3D00;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}
